// # Componente .btn

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.btn {
  &:disabled,
  &.is-disabled {
    opacity: .5 !important;

    user-select: none !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================