// # Btn

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

@function btn-change-color($color, $percent, $function: "darken") {
    @if($function == "lighten") {
        @return lighten($color, $percent);
    }

    @return darken($color, $percent);
}

.btn {
    // display: inline-block;
	// border: ;
	// padding: 0 1em;

	// font-family: ;
	// font-weight: bold;
	// font-size: ;
	// line-height: ;
	// text-transform: lowercase;
	// text-align: center;

	// color: inherit;
	// background-color: transparent;

	// transition: .2s;

	&[disabled] {
		pointer-events: none;
		opacity: 0.2;
	}

	&:hover,
	&:focus {

		text-decoration: none;
	}

    @each $theme, $map in $global-btn-solid-themes {
        $function: map-get($map, "function");
        $map-properties: map-get($map, "properties");
        $color: map-get($map-properties, "color");
        $bg-color: map-get($map-properties, "background-color");
        $percent: map-get($map, "percent");

        &--#{$theme} {

            transition: .3s;

            @each $property, $value in $map-properties { //Pegando todas as propriedades do component btn

                #{$property}: #{$value};

            }

            &:hover, &focus {
                @if($bg-color) {
                    background-color: btn-change-color($bg-color, $percent, $function);
                }
            }
        }

        &--outline {

            &-#{$theme} {

                @if($bg-color) {
                    border-color: currentColor;
                    color: $bg-color;
                    &:hover, &focus {
                        color: btn-change-color($bg-color, $percent);
                        background-color: btn-change-color($bg-color, $percent, $function)
                    }
                }
            }
        }
    }
}

// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================