// # Objeto `container`

/**
Limitador de largura centralizado horizontalmente
*/

// =============================================================================
// Imports
// =============================================================================

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

.container {
    max-width: $global-container-max-width;
    width: 95%;
    margin: {
        left: auto;
        right: auto;
    }

    &--full {
        width: 100%;
    }
}
  
// =============================================================================
// Media Queries
// =============================================================================
  