// # Tipografia

// =============================================================================
// Imports
// =============================================================================

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================

// Fonte
// =============================================================================

// font-family
.font1 {
    font-family: $global-font1;
}

// font-style
.font-style-inherit {
    font-style: inherit;
}

.font-style-italic {
    font-style: italic;
}

.font-style-normal {
    font-style: normal;
}


// weight
.weight-inherit {
    font-weight: inherit;
}

.weight-lighter {
    font-weight: lighter;
}

.weight-normal {
    font-weight: normal;
}

.weight-bold {
    font-weight: bold;
}

.weight-bolder {
    font-weight: bolder;
}

.weight-100 {
    font-weight: 100;
}

.weight-200 {
    font-weight: 200;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.weight-900 {
    font-weight: 900;
}

// font-size
.font-size-inherit {
    font-size: inherit;
}

.font-size-root {
    font-size: 1rem;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-32 {
    font-size: 32px;
}


// Text
// =============================================================================

// text-align
.txt-align-inherit {
    text-align: inherit;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-justify {
    text-align: justify;
}

// text-transform
.txt-transform-inherit {
    text-transform: inherit;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* text-decoration
============================================================================ */

.txt-decoration-inherit {
    transition-duration: inherit;
}

.txt-decoration-none {
    text-decoration: none;
}

.underline {
    text-decoration: underline;

    &-hover {
        &:hover {
            text-decoration: underline;
        }
    }
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

// =============================================================================
// Media Queries
// =============================================================================
