// # Componente .btn

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.btn--primary {
  color: $global-btn--primary-color;
  background: $global-btn--primary-bg-color;

  &:hover,
  &:focus {
    background-color: darken($global-btn--primary-bg-color, 15%);
  }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================