// # Variaveis Globais

/*
  # Prefixos

  $global- : indica uma variavel global
  $local-  : indica uma variavel local
*/

// Cores do projeto em relacao a empresa
// =============================================================================

// Cores principais do projeto
$global-project-color-primary: #EB5E55 !global;
$global-project-color-text: #000 !global;
$global-project-bg-color: #EEE !global;

// Cores de aviso
// =============================================================================

// Erro e alerta
$global-error-color  : #F00 !global;
$global-danger-color : $global-error-color !global;


// Cores de redes sociais
// =============================================================================

// Cores oficiais de redes sociais: https://brandcolors.net/
$global-social-rss            : #EE802F !global;
$global-social-facebook       : #3B5998 !global;
$global-social-twitter        : #55ACEE !global;
$global-social-google-plus    : #DD4B39 !global;
$global-social-linkedin       : #0073B2 !global;
$global-social-instagram      : #5851DB !global;
$global-social-instagram-blue : $global-social-instagram !global;
$global-social-instagram-red  : #FD1D1D !global;
$global-social-pinterest      : #BD081C !global;
$global-social-youtube        : #CD201F !global;
$global-social-whatsapp       : #43D854 !global;
$global-social-snapchat       : #FFFC00 !global;


// Fontes
// =============================================================================
$global-system-sans-serif: 
  Arial,
  system-ui, 
  "Segoe UI", 
  "Helvetica Neue", 
  sans-serif !global;

$global-font1 : Arial, sans-serif !global;


// Container
// =============================================================================
$global-container-max-width: 1000px !global;


// Outline
// =============================================================================
$global-outline-width: 1px !global;
$global-outline-style: dashed !global;
$global-outline-color: gray !global;
$global-outline: $global-outline-width $global-outline-style $global-outline-color !global;

// Transitions
// =============================================================================

/*
  Variavel com o objetivo de padronizar os valores para transitions.
*/
$global-transitions-duration        : .2s !global;
$global-transitions-timing-function : ease !global;


// Componentes
// =============================================================================

// .btn__icon
// =============================================================================
$global-btn-min-height: 40px !global;

$global-btn--primary-color: #fff !global;
$global-btn--primary-bg-color: #46BC39 !global;