// # Status

// =============================================================================
// Variaveis
// =============================================================================
$status-themes: (
    novo: #64A2EE,
    em-revisao: #D9AC00,
    aguardando-pagamento: #FF8F27,
    pendente: #FF8F27,
    pagamento-efetuado: #82AB6B,
    em-separacao: #A99AE3,
    em-andamento: #A99AE3,
    concluido: #000,
    cancelado: #F00,
    expirado: #ABABAB,
    pedido-enviado: #84CECD,
    pedido-aprovado-pelo-cliente: #8EA637,
);
// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.status {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #333;
    
    @each $name, $color in $status-themes {
        &--#{$name} {
            background-color: $color;
        }
    }
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================