// # Componente .btn

// =============================================================================
// Variaveis
// =============================================================================

// =============================================================================
// Placeholders
// =============================================================================

// =============================================================================
// Estilos
// =============================================================================
.btn__icon {
  $local-size: 1.2em;

  flex: 0 0 $local-size;

  display: block;
  width: $local-size;
  height: $local-size;

  fill: currentColor;
}

.btn__text {
  flex: 0 0 auto;
}
// =============================================================================
// Media Queries
// =============================================================================

// =============================================================================
// Imports
// =============================================================================